<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>RunAtLoad</key>
    <true/>
    <key>Label</key>
    <string>org.bishbr.borgmatic-box-v2</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/bishbr/src/borg/box.sh</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/bishbr/src/borg/logs/box-launchctl.err</string>
    <key>StandardOutPath</key>
    <string>/Users/bishbr/src/borg/logs/box-launchctl.out</string>
    <key>StartInterval</key>
    <integer>7200</integer> <!-- seconds -->
  </dict>
</plist>
